{% load staticfiles %}

<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" type="text/css" href="{% static 'manifests/dev/css/mirador-combined.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'manifests/dev.css' %}">
  <title>Harvard Mirador Viewer</title>
</head>
<body>
  <div id="viewer"></div>
  <script src="{% static 'manifests/dev/mirador.js' %}"></script>
  {% verbatim %}
  <script id="citation-tmpl" type="text/x-handlebars-template">
    <div title="citation">
      <header>
        <h3>Resource</h3>
      </header>
      <ul>
        <li><span class="label plink">Persistent Link</span> <a href="{{{resource.urn}}}">{{resource.urn}}</a></li>
        <li><span class="label desc">Description</span> {{{resource.description}}}</li>
        <li><span class="label repo">Repository</span> {{{resource.repository}}}</li>
        <li><span class="label inst">Institution</span> {{{resource.institution}}}</li>
        <li><span class="label access">Accessed</span> {{{resource.accessed}}}</li>
      </ul>

      <header>
        <h3>Page</h3>
      </header>
      <ul>
        <li><span class="label plink">Persistent Link</span> <a href="{{{resource.urn}}}">{{resource.urn}}</a></li>
        <li><span class="label desc">Description</span> {{{resource.description}}}</li>
        <li><span class="label page">Page</span> {{{page.pagelabel}}}</li>
        <li><span class="label repo">Repository</span> {{{resource.repository}}}</li>
        <li><span class="label inst">Institution</span> {{{resource.institution}}}</li>
        <li><span class="label access">Accessed</span> {{{resource.accessed}}}</li>
      </ul>
    </div>
  </script>

  <script id="search-tmpl" type="text/x-handlebars-template">
    <div title="search">
      <form id="search">
        <input name="searchbox" id="searchbox"  size="80"/>
      </form>

      <div id="searchresults" style="display:none" />
    </div>
  </script>

  <script id="choices-tmpl" type="text/x-handlebars-template">
    <div title="Choices" class="choices {{ op }}">
      <header><h2>Displayed Manifests</h2></header>
      <ul>
        {{#each choices}}
        <li><a class="manifest" data-drs-id="{{ drs_id }}" data-n="{{ n }}" href="#no-op">{{ label }}</a></li>
        {{/each}}
      </ul>
    </div>
  </script>

  <script id="print-tmpl" type="text/x-handlebars-template">
     <div title="Print" class="print {{ op }}" style="margin: 10px; padding: 5px;">
      <h2>Convert to PDF for Printing</h2>
        <p>Convert selected pages to PDF so that you can print or save the file to disk.  The service creates PDFs at 10 pages&ndash;per&ndash;minute.  Requests larger than 500 pages can take an hour or more to process.  The link to your PDF will remain active for 7 days.</p>
        <form name="printpds" id="printpds" onsubmit="event.preventDefault(); return false">
        <input type="hidden" name="n" id="n" value="{{ n }}"/>
        <input type="hidden" name="id" id="drs_id" value="{{ drs_id }}"/>
        <p style="color: #A51C30; font-weight: bold;">Requests for 10 pages or less will be delivered to your browser immediately. For larger requests, please enter an email address and a link to the PDF will be delivered by email.</p>
        <p><span style="font-weight: bold;">Firefox users:</span> To open large PDFs, go to Tools &gt; Options &gt; Applications and set Firefox to open Adobe Documents in Adobe Acrobat (not in "Adobe Acrobat in Firefox").</p>
       </div>
       
       <div style="border: 1px #999 solid; background-color: #CCC; line-height: 200%; margin: 10px; padding: 20px;">
         <input type="radio" name="printOpt" value="current" checked />Convert current page<br />
         <input type="radio" name="printOpt" value="range"  />Convert page sequence
         <input type="text" id="start" name="start" size="6" onclick="javascript:document.print.printOpt[1].checked=true;" value="" /> to
         <input type="text" id="end" name="end" size="6" onclick="javascript:document.print.printOpt[1].checked=true;" value=""/><br />
         <input type="radio" name="printOpt" value="all"  />Convert entire document<br />
         Email address: <input type="text" id="email" name="email" size="50" onclick="" value=""/><br />
        
        <div style="margin-right: 10px; margin-top: 5px;">
          <input type="button"  value="Cancel" onclick="window.close()" name="button" />
          <input type="submit"  value="Convert"   id="pdssubmit" name="pdssubmit"/>
         </form>
       </div>
     </div></div>
  </script>
  {% endverbatim %}
  <script type="text/javascript">
   window.harvard_md_server = {
     PDS_VIEW_URL: "{{ pds_view_url }}",
     PDS_PRINT_URL: "http://pdstest.hul.harvard.edu:9005/pds/printpdf/",
     PDS_SEARCH_URL: "http://pdstest.hul.harvard.edu:9005/pds/find/",
     MIRADOR_DATA: [
       {% autoescape off %}
       {{ manifests_json|join:"," }}
       {% endautoescape %}
     ],
     MIRADOR_WOBJECTS: [
       {% for uri, title in manifests.items %}
       { "loadedManifest": "{{ uri }}",
         "viewType": "ImageView" },
       {% endfor %}
     ],
     LAYOUT: "{{ layout_sdiving }}"
   };
  </script>
  <script type="text/javascript" src="{% static 'manifests/dev.js' %}"></script>
</body>
</html>
